body {
	background: lightblue
}

.industrialRevolutionTerm {
	font-size: 400%;
	font-family: Arial;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 10%;
	border: 2px solid black;
	text-align: center;
	align: center;
}